body{
    background: rgb(209, 162, 209) ;
    margin: 0;
    height: 100vh;
}

h1{
    font-size: 28pt;
    text-align: center;
    text-decoration-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 10;
}
.center{
    display: block;
    margin: auto;
}

a{
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 120px;
    margin-left: -60px;
}
p{
    color: white;
    font-size: 14pt;
    text-align: center;
}